.form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-group-label {
  @apply text-sm font-medium;
}

.form-group input {
  border: 1px solid var(--color-primary);
}

.test {
  display: block;
  background-color: red;
}
