<div id="categories_modal">
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200 border border-gray-300 rounded-lg">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">ID</th>
          <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Nome</th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200" data-controller="table-navigator">
        <% categories.each do |category| %>
          <tr class="hover:bg-blue-500 cursor-pointer table-row"
              data-id="<%= category.id %>"
              data-label="<%= category.name %>"
          >
            <td class="px-4 py-2 text-sm text-gray-900 w-lg"><%= category.id %></td>
            <td class="px-4 py-2 text-sm text-gray-900"><%= category.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
